.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    width: 100%;    
    background: #FFFFFF;
    
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.navlink {
    list-style: none;
    text-decoration: none;
    padding: 14px;
    margin: 0 12px;
    font-size: 16px;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
}

.navlink:hover {
    border-bottom: 2px solid #000;
    opacity: 0.6;    
}