.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    width: 100%;
    background: #FFF159;
}

.navbar {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    align-items: center;
}

.navlink {
    list-style: none;
    text-decoration: none;
    padding: 14px;
    margin: 0 12px;
    font-size: 16px;
    color: black;
}

